* {
  box-sizing: border-box;
}


.arrow {
  border: solid #002739;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
}

.right {
  transform: translateX(-6px) rotate(-45deg); 
  -webkit-transform: translateX(-6px) rotate(-45deg);
}

.left {
  transform: translateX(6px) rotate(135deg);
  -webkit-transform: translateX(6px) rotate(135deg);
}


.carousel{
  position: relative;
}

.slide_list {
  display: flex;
  flex-wrap:nowrap;

  justify-content: center;
  gap: 3vw;
  list-style: none;
  margin: 0;
  padding-left: 15vw;
  padding-right: 15vw;
  
}

.slide > div {
  display: block;
  height: 450px;
  padding: 0 1rem 0 1rem;
  /* background-color: red; */
 
}



.slide {
  display: none;
  flex: 1 0 50%;
}


.slide.visible {
  display: block;
  opacity: 1;
  /* transform: translateX(0); */
}


.btn_nav {
  position: absolute;
  width: 100%;
  /* height: 0px; */
  top: 40%;
  z-index: 999;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  padding-right: 10vw;
  padding-left: 10vw;
}

.carousel_button{
  /* background-color: rgba(0, 0, 0, 0.04); */
  /* box-shadow: silver 3px 3px; */
  box-shadow: 0 0 5px silver;
  background: transparent;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 30px;
  border-radius: 5px;
  outline: none;
}

.carousel_button:hover {
  box-shadow: 0 0 10px silver; 
}

.carousel_button:active {
  box-shadow: inset 0 0 5px silver; 
}



.carousel_button.prev {
 
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .carousel_button.prev > i {
  transform: translateX(-10px);
} */

.carousel_button.next {
  visibility: hidden;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;

}


.animate_left {
  transform: translateX(-3000%);
  transition: 1s ease-in-out;
}

.animate_right {
  transform: translateX(3000%);
  transition: 1s ease-in-out;
}

.slide.appear_right {
  display: block;
  animation: fromright 500ms ease;
}

.slide.appear_left {
  display: block;
  animation: fromleft 500ms ease;
}

@keyframes fromright {
  from {
    transform: translateX(3000%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes fromleft {
  from {
    transform: translateX(-3000%);
  }

  to {
    transform: translateX(0);
  }
}

